{% extends 'base.html.twig' %}
    
    {% block title %} THE GOOD ONE {% endblock %}


    {% block body %}
    <body>
        
    
    <h1>VOUS ETES CHEZ THEZ GOOD ONE</h1>
        <div class="alert alert-primary" role="alert">
        <a href= "{{ path('activity') }}">Vôtre première ou deuxième rencontre ? Choisisez votre activité !</a>
         Pour avoir plus de détails sur les PACKAGES / ACTIVITEES <a href= "{{ path('contact') }}">Contactez l'équipe TGO nous</a>
        </div>

        <div class="couple">
             <img src="{{ absolute_url (asset('../images/photo-homepage-couple.jpg')) }}">
           <link rel="stylesheet" href="">
        </div>
        
        
        <div class="contact">
            <a href="{{ path('contact') }}">
                <h2>CONTACTEZ L'EQUIPE</h2>
            </a>
        </div>
   
        
     
        {% block javascripts %}
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}


    {% endblock %}